.navbar{
    background-color: #fff;
    display: flex;
    height: 60px;
    width: 100%;
    border-bottom: .5px solid #999;
}

.navbar__cont{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
}

.logo{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.navber__search{
    display: flex;
    align-items: center;
    border: .5px solid rgb(206, 192, 192);
    gap: 10px;
    border-radius: 20px;
    padding: 2px 10px;
    background-color: lightgray;
    width: 50%;
    justify-content: center;
}

.navber__search-input{
    border: none;
    outline: none;
    background-color: lightgray;
    margin-left: 5px;
}

.navber__search-input::placeholder{
    font-style: italic;
}

.icon{
    color: #999;
    margin-right: 5px;
}

.navber__right{
    display: flex;
    gap: 15px;
}

.icons{
    padding: 5px;
    border: .5px solid lightgray;
    border-radius: 50%;
    color: gray;
    cursor: pointer;
}

@media screen and (max-width: 650px){
    .navber__search-input{
        width: 160px;
        /* margin-left: 15px; */
    }

    .navbar__cont{
        padding: 10px;
    }

    .navber__search{
        gap: 0px;
    }

    .navber__right{
        gap: 5px;
    }
}