.form{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    margin: 20px 0px;
}

.progress{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:  0 10%;
}

.progress > input{
    width: 80%;
    height: 1.5rem;
    padding: 0px 10px;
    margin-bottom: 10px;
}

.progress > label{
    justify-content: center;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}

.form__input{
    display: flex;
    background-color: #999;
    justify-content: space-between;
    border-radius: 10px;
}

.form__input-right{
    flex: 2;
    padding: 10px;
    border-radius: 10px;    
}

.form__input-right > input{
    border: 1px solid gray;
    padding: 0px 20px 40px 20px;
    cursor: pointer;
}

.form__input-left{
    flex: 3;
    padding: 10px;
}

.form__cont{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
} 

.form__cont > input{
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: none;
    background-color: #000000;
    color: gray;
}

.form__cont-sec{
    display: flex;
    width: 100%;
    gap: 20px;
}

.inputs2{
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: none;
    color: gray;
    background-color: #000000;
}

@media screen and (max-width: 650px){
    .form__input{
        flex-direction: column;
    }
}