.ability {
    width: 100%;
    color: #6b7280;
    background-color: #ffffff;
    border-color: #f3f4f6;
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9fafb;
    padding: 0.75rem;
    margin-top: 1rem;
}

.title {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.1em
}

.main {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0.75rem 0; */
}

.extra {
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.1em;
}

.value {
    font-size: 0.75rem;
}

.input {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}